services:
  nginx:
    image: nginx:alpine
    ports:
      - "443:443"
    volumes:
      - ./docker/proxy/conf.d:/etc/nginx/conf.d
      - ./docker/proxy/ssl:/etc/nginx/ssl
    network_mode: host
  
  mapper:
    build:
      context: ./docker/map
    ports:
      - "8000:8000"
  
  geoserver:
    build:
      context: https://github.com/hammad93/hurricane-geoserver.git
      dockerfile: ./docker/Dockerfile
    environment:
      - GEOSERVER_ADMIN_PASSWORD=
    ports:
      - "6004:8080"
    volumes:
      - ./wms_data/:/opt/geoserver_data