services:
  nginx:
    image: nginx:alpine
    ports:
      - "443:443"
    volumes:
      - ./docker/proxy/conf.d:/etc/nginx/conf.d
      - ./docker/proxy/ssl:/etc/nginx/ssl
    network_mode: host
  
  mapper:
    build:
      context: ./docker/map
    ports:
      - "8000:8000"
  
  geoserver:
    image: docker.osgeo.org/geoserver:2.28.x
    ports:
      - "6004:8080"
    volumes:
      - ./data/:/opt/geoserver_data
    environment:
      - CORS_ENABLED=true
      - INSTALL_EXTENSIONS=true
      - STABLE_EXTENSIONS=ysld,ogcapi-features
      - PROXY_BASE_URL=https://nfc.ai/geoserver